@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Edu+SA+Hand:wght@400..700&family=Noto+Sans+Sunuwar&family=Savate:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --white: #f8f8f8;
    --mid-grey: #a5a5a5;
    --grey: #5c5c5c;
    --blue: #465ddf;
    --black: #00001f;
    --purblack: #1a0542;
    --purple: #290966;
    --mid-purple: #31106e;
    --light-purple: #703bd1;
    --red: #d13d3d;
    --light-red: #fadad8f5;
    --transition-time: .3s;
    --transition-animation: ease;
}

img[alt="bh2-logo-white"] {
    width: 50px;
    height: auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Noto Sans Sunuwar";
    background: linear-gradient(0deg, var(--black), var(--purblack));
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 98.3vh;
    border-radius: 1rem;
    text-align: center;
    background: none;
    gap: 1rem;
}

footer {
    position: fixed;
    width: 50%;
    bottom: 0;
    color: var(--white);

    & div[class="powered"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: .3rem;
    }
}

section[id="login-title"] {
    width: 50%;

    & h1 {
        font-size: 25pt;
        color: var(--white);
    }
}

form[id="login"], section[id="login-content"] {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

label[class="label-login"] {
    appearance: none;
    outline: none;
    width: 20rem;
    height: 2.7rem;
    background: none;
    border-radius: .3rem;
    border-style: none;
}

input[class="input-login"] {
    appearance: none;
    outline: none;
    width: 90%;
    height: 100%;
    font-size: 12pt;
    border-radius: .3rem;
    border-style: none;
    background: var(--white);
    margin: auto;
    padding: 0 15px 0 15px;
    box-shadow: inset 0 -1px 0 var(--light-purple);
    transition: all var(--transition-time) var(--transition-animation);

    &:hover {
        background-color: var(--mid-grey);
    }

    &:focus {
        box-shadow: inset 0 -2px 0 var(--light-purple);
        background-color: var(--black);
        color: var(--white);
    }
}

button {
    width: 10rem;
    height: 3rem;
    border-radius: 1.4rem;
    border-style: none;
    font-size: 11pt;
    font-weight: bold;
}

.error-message {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
    color: #d13d3d;
    border-radius: .5rem;
    border-color: #d13d3d;
    background-color: var(--light-red);
    width: 20rem;
    box-shadow: inset 5px 0px 0px var(--red);

    & div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        width: 90%;
    }

    & .err-img{
        margin-bottom: 2px;
    }

    & p {
        font-size: 11pt;
        letter-spacing: -.5px;
    }
}

.span-label {
    position: absolute;
    top: 46%;
    right: 55.5%;
    font-size: 12pt;
    pointer-events: none;
}

.b-purple-invert {
    background: linear-gradient(var(--purple), var(--mid-purple));
    color: var(--white);
    transition: all var(--transition-animation) var(--transition-time);

    &:hover {
        background: var(--white);
        color: var(--purple);
    }
}

.grey {
    color: var(--grey);
}
